<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>강좌 목록(검색)</title>
    <style>
        div.container {
            width: 1500px;
            margin: 50px auto;
        }

        thead th {
            background-color: #eee;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            padding: 4px;
            border: 1px solid lightgray;
        }

        td:nth-child(4), td:nth-child(3) {
            text-align: center;
            width: 100px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>강좌 목록(검색)</h1>
    <form method="post">
        <label>이름</label>
        <input type="text" name="srchText" th:value="${srchText}" placeholder="검색조건">
        <button type="submit">조회</button>
    </form>
    <br>
    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th>강좌명</th>
            <th>강사명</th>
            <th>교육시작일자</th>
            <th>교육종료일자</th>
            <th>교육대상</th>
            <th>운영요일</th>
            <th>교육장소</th>
            <th>수강료</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lecture: ${lectures}">
            <td th:text="${lecture.getName()}"></td>
            <td th:text="${lecture.getLecturer()}"></td>
            <td th:text="${lecture.getCourseStartDate()}"></td>
            <td th:text="${lecture.getCourseEndDate()}"></td>
            <td th:text="${lecture.getEducationTarget()}"></td>
            <td th:text="${lecture.getDay()}"></td>
            <td th:text="${lecture.getLocation()}"></td>
            <td th:text="${lecture.getCost()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>